body{
    background: url("toram_Blacksmith.png");
    background-repeat: no-repeat;
    background-size: cover;
    
}
h1{
    text-align: center;
    color: cyan;
    
}
.back
{

padding-top: 0px;
padding-bottom: 50px;
background-color:rgba(194, 190, 209, 0.5);
top:0px;
left: 50px;
font-family:cursive;
margin: 50px;
box-shadow: 3px 3px 3px 3px rgb(71, 73, 73);
border-radius: 12px;
}
p{
    text-align: center;
    font-size: 30px;
}
.task
{
    text-decoration: none;
    padding-left: 200px;
    padding-top: -50px;
}
.box:hover{
    background-color: lightgray;
    box-shadow :3px 3px 3px  rgb(7, 248, 27);
    }
.box:active{
       background-color: lime;
       box-shadow :0px 0px 0px 0px rgb(71, 73, 73);
}
    
    
.box{
       text-decoration: none; 
       padding: 20px;
        background-color:rgba(194, 190, 209, 0.5);
        top:-30px;
        left: 50px;
        font-family:cursive;
        margin: 80px;
        box-shadow: 2px 2px 2px 2px rgb(71, 73, 73);
       font-size: 20px;  
       border-radius: 12px;   
}